.info {
  padding: 30px;
  background: rgba(236, 232, 232, 0.103);
  width: 100%;
  border-right: 5px solid #105c8f;
  border-radius: 40px;
  /* margin-left: 30px; */
}

.img {
  height: 80vh;
  object-fit: cover;
  object-position: center;
  border-radius: 40px;
  /* padding-right: 60px; */
  /* margin-right: 100px; */
}

/* in mobile */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .portfolio-description {
    font-size: small;
  }
}

/* in tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* in desktop */
@media screen and (min-device-width: 1200px) and (max-device-width: 2600px) {
}
