.info {
  padding: 30px;
  background: rgba(236, 232, 232, 0.103);
  width: 100%;
  border: 2px solid #e9ecee;
  border-radius: 20px;
  /* margin-left: 30px; */
}

.img {
  height: 80vh;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 20px 20px;
}
